<nav>
  <div class="nav-wrapper">
    <ul class="left hide-on-med-and-down">
      <li><a href="#">Customers</a></li>
      <li><a routerLink="/companies">Companies</a></li>
    </ul>
    <a class="button waves-effect waves-light btn right" (click)="openDialogCustomer()">Add Customer</a>
    <a class="button waves-effect waves-light btn right" (click)="openDialogCompany()">Add Company</a>
    <!-- <button class="right" type="button" (click)="addCustomer()">Add Customer</button> -->
  </div>
</nav>