@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~font-awesome/css/font-awesome.css";

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

/* .container {
  padding: 5px;
  margin: 2%;
} */
